In [1]:
from pprint import pprint

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt

from prepare import lemmatize, basic_clean

In [2]:
document = 'Mary had a little lamb, a little lamb, a little lamb.'

# clean up the text
document = document.lower().replace(',', '').replace('.', '')
# transform into a series
words = pd.Series(document.split())

# From the Series we can extract the value_counts, which is our raw count
# for term frequency. Once we have the raw counts, we can calculate the
# other measures.
(pd.DataFrame({'raw_count': words.value_counts()})
 .assign(frequency=lambda df: df.raw_count / df.raw_count.sum())
 .assign(augmented_frequency=lambda df: df.frequency / df.frequency.max()))

        raw_count  frequency  augmented_frequency
a               3   0.272727             1.000000
little          3   0.272727             1.000000
lamb            3   0.272727             1.000000
mary            1   0.090909             0.333333
had             1   0.090909             0.333333

In [ ]:
# IDF : Inverse Document Frequency